.headline li {
    display: inline-block;

}

a {
    text-decoration: none;
    color: rgb(43, 27, 27);

}

.headline {
    display: flex;

    justify-content: space-between;
}

.headline1 li {
    padding-left: 50px;
}

.container {
    display: flex;
  
    align-items: center;
}


.div1 {
    display: flex;
    flex-direction: column;
    align-content: left;
}

.div2 {
    display: flex;
    flex-direction: column;
    align-content: left;
}


.div3 {
    display: flex;
    align-items: left;

}

.div5{
    display: flex;
    flex-direction: row;
align-content: end;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
}
.center {
    display: flex;
    justify-items: center;
    font-weight:normal;
}
main {
    display: block;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
  }
  
  .one {
    display: flexbox;
    flex-direction: row;
  }
  
  .two {
    flex: 1 1 auto;
  }
  
  .three {
    flex: 1 1 auto;
  }
  .four{
    flex:1
  }
  .accapt {
    display: flexbox;
    -ms-flex-align: center;
  }